.borderRadius{
    border: 1px solid #696969;
    border-radius: 8px;
    margin: 20px;
}
.img{
    background-position: center;
    background-size: cover;
    width: 120px;
    height: 160px;
}
.image{
    margin: 15px 0px 15px 15px;
    padding-right: 40px; 
    width: 150px; 
}
.describe{
    font-size: 12px !important;
    color: red !important;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-bottom: 15px;
}
.information1{
    width: calc(100% - 300px);
    margin-top: 10px;
    margin-bottom: 10px;
}
.label_information1{
    font-size: 14px;
    color: red;
    display: inline-block;
}

.div-information-open{
    font-size: 14px;
    color: red;
    word-break: break-all;
}
.div-information-close{
    font-size: 14px;
    color: red;
    white-space: pre;
}
@media (max-width:992px){
    .information1{
        width: 100%;
        margin-left: 15px;
        margin-right: 10px;
    }
    .div-reponsive-TL{
        width: 90%;
    }
}