.box-para-la {
  width: 100%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  .paren-body-LAA {
    // margin-top: 20px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);
  }
}
.box-header-learn {
  font-weight: 500;
  font-size: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding-bottom: 20px;
}
.box-body-learn {
  .box-content-learn {
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0px;
    .label-learn {
      font-size: 14px;
      width: 190px;
      color: rgba(0, 0, 0, 0.65);
      display: inline-block;
      font-weight: 500;
    }
    .value-learn {
      font-size: 14px;
      width: calc(100% - 190px);
      color: rgba(0, 0, 0, 0.65);
      display: inline-block;
      font-weight: 500;
    }
  }
  .table-content-learn {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0px;
    .col1-learn {
      font-size: 14px;
      width: 150px;
      color: rgba(0, 0, 0, 0.65);
      display: inline-block;
      font-weight: 500;
    }
    .col2-learn {
      font-size: 14px;
      width: calc(100% - 300px);
      color: rgba(0, 0, 0, 0.65);
      display: inline-block;
      font-weight: 500;
      word-break: break-word;
    }
  }
}
.label {
  padding-left: 5%;
  color: red;
  display: inline-block;
}
h3 {
  color: red;
}
.fieldset-LAA {
  width: 1070px;
  margin: 15px;
  padding-right: 15px;
  border-radius: 8px;
  border: 1px solid #696969 !important;
}
.activities {
  margin-left: 15px;
}
.button-LAA {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19) !important;
  border: none !important;
  background-color: #2c3e50 !important;
  color: white !important;
  font-weight: 500 !important;
  border-radius: 20px !important;
}
.button-LAA:hover {
  background-color: #ff4d4d !important;
}
.Div-LAA {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.input_LAA {
  margin-left: 5px;
  width: 55%;
  border: none;
  border-bottom: 1px solid rgb(204, 202, 202);
}
.input-LAA2 {
  margin-left: 5px;
  width: 55% !important;
  border: none !important;
  border-bottom: 1px solid rgb(204, 202, 202) !important;
  border-radius: 0 !important;
}
.input-LAA2:after {
  border: none !important;
}
.input_LAA1 {
  margin-left: 5px;
  width: 90%;
  border: none;
  border-bottom: 1px solid rgb(204, 202, 202);
}
.label_LAA {
  font-size: 14px;
  width: 60px;
  color: red;
  display: inline-block;
}
.DIV-learn {
  width: 60%;
  padding-right: 15px;
  padding-left: 15px;
}
.input-number-LAA {
  margin-left: 5px;
  width: 45px;
  border: none;
  border-bottom: 1px solid rgb(204, 202, 202);
}
.col12 {
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}
.table-LA {
  width: 100%;
  .table-LA-par {
    display: flex;
    flex-wrap: wrap;
    .table-LA-cont {
      width: 33.33%;
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      margin-bottom: 3px;
    }
  }
}
.scroll-view {
  overflow-x: scroll;
}
@media (max-width: 1200px) {
  .scroll-view {
    overflow-x: scroll;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .para-learning-and-activities {
    width: 96%;
  }
}
@media (max-width: 992px) {
  .para-learning-and-activities {
    width: 100%;
  }
  .col12 {
    width: 100%;
  }
  .DIV-learn {
    width: 100%;
  }
}
