.para-organizational{
    margin-top: 20px;
    margin: 0 auto;
    width: 1100px;
}
.divBody{
    border-top: none;
    margin-top: 20px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);
}
.header{
    background-color: #ff4d4d;
    height: 30px;
    display: flex;
    align-items: center;
}
.header h4{
    color: white;
    margin-left: 15px;
}
.tagA{
    margin-left: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    .tag-a-OR{
        font-size: 20px;
        color: #ff4d4d !important;
        font-weight: 500;
    }
    .tag-a-OR:hover{
        color: #ff3333 !important;
        font-weight: 700;
    }
}
@media (min-width:993px) and (max-width:1200px){
    .para-organizational{
        width: 96%;
    }
}
@media (max-width:992px){
    .para-organizational{
        width: 100%;
    }
}