.para{
    margin: 20px;
}
.divBody{
    
    border: 1px solid #ff4d4d;
    border-top: none;
    margin-top: 25px;
}
.header{
    background-color: #ff4d4d;
    height: 30px;
}
.header h4{
    color: white;
    margin-left: 15px;
}
.tagA{
    margin-left: 50px;
    .tag-a-OR{
        font-size: 20px;
        color: #ff4d4d !important;
        font-weight: 500;
    }
    .tag-a-OR:hover{
        color: #ff3333 !important;
        font-weight: 700;
    }
}

    