.rowTable{
    margin: 0
}
.spanLabel{
    font-size: 18px;
    color: red;
}
.inputDisable{
    margin-left:5px; 
    color:red;
    border: none;
    border-bottom: 1px solid grey;

}
.inputDisable:disabled{
    background-color: white;
    border: none;
}
.buttonDisable{
    height: 30px;
    margin-right: 5px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid red;
    color: red;
}
.buttonDisable:hover{
    background-color: rgb(206, 174, 236);
}
.changeAddUnit{
    display: flex;
    justify-content: flex-end;
}
.tableAddUnit{
    border-radius: 10px;
}