.rowTable{
    margin: 0
}
.spanLabel{
    font-size: 18px;
    color: red;
}
.inputDisable{
    width: 300px;
    margin-left:5px; 
    color:red;
    border: none;
    border-bottom: 1px solid grey;

}
.inputDisable:disabled{
    background-color: white;
    border: none;
}

.tableAddUnit{
    border-radius: 10px;
}
.tableAddUnit{
    border: none;
    color: red;
    font-weight: 100;
}
.tableAddUnit th{
    font-weight: 450;
}
.inputTH{
    width: 41px;
}
.buttonDisable{
    height: 32px;
    width: 31%;
    margin-left: 1.75%;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #d9d9d9;  
}
.buttonDisable:hover{
    /* border: 1px solid #40a9ff;   */
    background-color: #aad7fc;
}
.ButtonForMobileAdd{
    margin-left: 70%;
}

@media (max-width: 992px){
    .ButtonForMobileAdd{
        width: 100%;
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
}