.rowTable{
    margin: 0
}
.spanLabel{
    font-size: 18px;
    color: red;
}
.inputDisable{
    margin-left:5px; 
    color:red;
    border: none;
    border-bottom: 1px solid grey;

}
.inputDisable:disabled{
    background-color: white;
    border: none;
}

.tableAddUnit{
    border-radius: 10px;
}
.tableAddUnit{
    border: none;
    color: red;
    font-weight: 100;
}
.tableAddUnit th{
    font-weight: 450;
}
.inputTH{
    width: 41px;
}