.add-background{
    background-color: white;
    height: 32px;
    border: 1px solid #696969;
    color: red;
    border-radius: 4px;
    margin-bottom: 10px;
}
.add-background:hover{
    border: 1px solid red;
    color: #696969;
    box-shadow: 1px 1px red;
}
.container{
    width: 500px;
    margin: auto;
    text-align: center;
    .pagination {
        width: 400px;
        margin-left: 50px;
        .pagination-a {
            display: block;
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }
        .active {
            background-color: rgb(255, 43, 43);
            color: white;
        }
        .pagination-a:hover:not(.active) {
            background-color: #ddd;
        }
    }
}
.div-remove{
    display: flex;
    justify-content: flex-end;
    .button-remove{
        background: white;
        border: none;
        border: 1px solid rgba(0, 0, 0, 0.65);
        width: 39px;
        height: 39px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .button-remove:hover{
        color: white !important;
        background-color: #ff3333;
        border: 1px solid #ff3333;
    }
}
.modal-button-remove{
    height: 32px;
    width: 80px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #696969;
    color: red;
}
.modal-button-remove:hover{
    border: 1px solid red;
    color: #696969;
    box-shadow: 1px 1px red;
}