.addBackground{
    background-color: white;
    height: 30px;
    border: 1px solid gray;
    border-radius: 3px;
    margin-bottom: 10px;
}
.addBackground:hover{
    border: 1px solid blue;
    color: blue;
}