.pageHeader{
    width: 100%;
    display: flex;
    position: relative;
}
    .pageHeader i{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .informationImg{
        /* margin-left: 42px; */
        width: 300px;
        height: 350px;
        background-color: rgb(87, 78, 78);
        /* background-image: url("https://scontent.fhan3-1.fna.fbcdn.net/v/t1.0-9/p960x960/79601448_2757775170941952_3792868997574164480_o.png?_nc_cat=1&_nc_ohc=fgTTjiQRwO8AX_EyHit&_nc_ht=scontent.fhan3-1.fna&oh=0fc38a83e734acec907d4d9d8784b797&oe=5EBB1865");
        background-position: center;
        background-size: cover; */
        /* opacity: .8; */
    }
        .informationImg label{
            color: rgb(238, 223, 13);
            font-size: 14px;
            margin-top: 60px;
            margin-left: 15px;
            /* margin-bottom: 5px; */
        }
        .informationImg a{
            color: rgb(238, 223, 13);
        }
    .triangleImg{
        opacity: .9;
        margin-left: 343px;
        width: 0;
        height: 0;
        border-left: 60px solid rgb(87, 78, 78);
        border-bottom: 175px solid transparent;
        border-top: 175px solid transparent;
        position: absolute;
        z-index: 1;
    }
    .informationImg::after{
        position: absolute;
        width: 0;
        height: 0;
        
    }
    .backgroundCover{
        position: relative;
        background-image: url('https://scontent.fhan3-1.fna.fbcdn.net/v/t1.0-9/83213407_2639553436111837_4116980836186718208_o.jpg?_nc_cat=110&_nc_ohc=kOTp_ZXrjr0AX8crQ3U&_nc_ht=scontent.fhan3-1.fna&oh=7fe8982eec7411e73be094b434cf65a6&oe=5ED572A8');
        height:350px;
        width: 900px;
        background-position: center;
        background-size: cover;
        /* background-color: red;
        height: 250px; */
    }