.pageHeader{
    width: 100%;
    display: flex;
    position: relative;
}
    .pageHeader i{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .informationImg{
        width: 300px;
        height: 350px;
    }
        .labelHeader{
            margin-left: 15px;
            /* margin-top: 30px; */
        }
        .doiBackground{
            background-color: white;
            opacity: .6;
            margin-left: 15px;

        }
            .changeColor{
                margin: 0;
                color: black;
            }
            /* .changeBackground{
                width: 100%;
                border: 1px solid #e9ecef;
                margin-bottom: 10px;
                border-radius: 3px;
                height: 40px;
                padding-left: 15px;
            }
            .changeBackground:hover{
                border: 1px solid rgb(82, 163, 255);
            } */
            /* .Ccolor{
                margin-left: 5px;
                border: 1px solid #e9ecef;
                margin-bottom: 10px;
                border-radius: 3px;
            } */
            .Ccolor:hover{
                border: 1px solid rgb(82, 163, 255);
            }

    .triangleImg{
        opacity: .9;
        width: 0;
        height: 0;
        border-bottom: 175px solid transparent;
        border-top: 175px solid transparent;
        position: absolute;
        z-index: 1;
    }
    .informationImg::after{
        position: absolute;
        width: 0;
        height: 0;
        
    }
    .backgroundCover{
        position: relative;
        background-image: url('https://scontent.fhan5-6.fna.fbcdn.net/v/t1.0-9/85240841_2892567020796099_125429988689182720_o.jpg?_nc_cat=105&_nc_sid=a61e81&_nc_ohc=GRySwZG7C00AX9NzVL-&_nc_ht=scontent.fhan5-6.fna&oh=6a7e94b9ce6eeba47e342257fb68a35f&oe=5EF562A8');
        height:350px;
        width: 900px;
        background-position: center;
        background-size: cover;

    }
@media(max-width:1200px){
    .informationImg{
        display: none;
    }
    .triangleImg{
        display: none;
    }
}
@media (max-width: 992px){
    
    .backgroundCover{
        width: 700px;
        height: 250px;
    }
}