.input_information2{
    margin-left: 5px;
    border: none;
    border-bottom: 1px solid rgb(204, 202, 202);
}
.input_information2:focus{
    border:1px solid #845151;
    -moz-box-shadow:0 0 8px #808451;
    -webkit-box-shadow:0 0 15px #808451;
    box-shadow:0 0 15px #808451;
}
.label_information2{
    font-size: 14px;
    width: 35%;
    padding-left: 15px;
    color: red;
    display: inline-block;
    text-align: end;
}


.avatarForMobile{
    width: 25%;
}
.informationUserForMobile{
    width: 75%;
}

@media (max-width: 992px){
    .informationUserForMobile{
        width: 100%;
    }
    .avatarForMobile{
        margin-left: 15px;
    }
}