.input_information2{
    margin-left: 5px;
    border: none;
    border-bottom: 1px solid rgb(204, 202, 202);
}
.input_information2:focus{
    border:1px solid #845151;
    -moz-box-shadow:0 0 8px #808451;
    -webkit-box-shadow:0 0 15px #808451;
    box-shadow:0 0 15px #808451;
}
.label_information2{
    font-size: 14px;
    width: 35%;
    padding-left: 15px;
    color: red;
    display: inline-block;
    text-align: end;
}


.avatarForMobile{
    width: 25%;
    padding-left: 8%;
}
.informationUserForMobile{
    width: 75%;
}
@media(max-width:1400px){
  .avatarForMobile{
    padding-left: 5px;
  }
}

@media (max-width: 992px){
    .informationUserForMobile{
        width: 100%;
    }
    .avatarForMobile{
        padding-left: 0;
    }
}

.avatar {
    margin-bottom: 20px;
  }
  .avatar_profile {
    position: relative;
    border-radius: 100%;
  }
  .change_avatar {
    position: absolute;
    width: 125px;
    height: 62.5px;
    background-color: rgba($color: black, $alpha: 0.7);
    bottom: 0;
    border-bottom-left-radius: 62.5px;
    border-bottom-right-radius: 62.5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 300ms;
    cursor: pointer;
  }
  .icon_change_avatar {
    color: white;
    font-size: 18px;
  }
  .ant-upload {
    display: flex !important;
    flex-direction: column;
  }
  .form_inline {
    display: flex;
    justify-content: stretch;
  }
  .select_box {
    width: 100%;
    .ant-form-item-control-wrapper {
      width: 100%;
    }
    .ant-form-item {
      width: 100%;
    }
  }
  .form_update {
    width: 75%;
  }