.label{
    padding-left: 5%;
    color: red;
    display: inline-block;
}
h3{
    color: red;
}
.activities{
    margin-left: 15px;
}
.buttonLAA{
    width: 70px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid red;
    color: red;
    margin-left: 5px;
}
.buttonLAA:hover{
    background-color: rgb(206, 174, 236);
}
.DivLAA{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}