.login-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
  } 
  .login-wrap .login-form {
      width: 400px;
      padding: 30px;
      border-radius: 10px;
      z-index: 1;
      position: absolute;
    }
  
  .login-form-button {
  width: 100%;
  }
.backgroundSignIn{
  background-image: url("../img/backgroundlogo.jpg");
  background-position: center;
  background-size: cover;
}
.backgroundOpacity{
  background-color: black;
  opacity: .3;
  height: 254px;
  width: 400px;
  display: flex;
    justify-content: center;
    align-items: center;
  border-radius: 10px;
}
.quenDoiMK{
  color: #ffffff !important;
}
.quenDoiMK:hover{
  color: blueviolet !important;
}
.divMK{
  text-align: center;
}
.backgroundBlack{
  position: absolute;
  z-index: 2;
  background-color: rgb(0, 0, 0,0.6);
}
.setvisible{
  width: 350px;
  background: rgba(255, 255, 255);
  border-radius: 10px;
}
  .khungChua{
    margin-left: 0 !important;
    margin-right: 0 !important;
    display: flex;
    justify-content: space-between;
  }
    .setClose{
      border: none;
      background-color: white;
      font-size: 20px;
      border-radius: 25%;
    }
    .setClose:hover{
      color: rgb(24, 144, 255);
    }

  .setEmail{
    background: rgba(255, 255, 255, 0.6);
    width: 90%;
    border: 1px solid #e9ecef;
    margin-left: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 3px;
    height: 40px;
    padding-left: 15px;
  }
  .setEmail:hover{
    border: 1px solid rgb(24, 144, 255);
  }
  .Gui{
    width: 25%;
    border: 1px solid #e9ecef;
    margin-left: 70%;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 3px;
    height: 30px;
    background: rgba(255, 255, 255, 0.6);
    font-weight: 500 !important;
  }
  .Gui:hover{
    border: 1px solid rgb(24, 144, 255);
    color: rgb(24, 144, 255);
  }
@media (max-width:992px){
  .backgroundSignIn{
    background-image: none;
    background-color: rgb(0, 0, 0,0.6);
  }
  
}
@media (max-width:600px){
  .login-wrap .login-form{
    width: 320px;
    padding: 0;
  }
  .setvisible{
    width: 320px;
  }
}