.buttonProfile{
    width: 70px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid red;
    color: red;
    margin-left: 5px;
}
.buttonProfile:hover{
    background-color: rgb(206, 174, 236);
}
.DIVprofile{
    display: flex;
    justify-content: flex-end;
}
.profileForMobile{
    width: 41.66%;
    margin-left: 4%;
    margin-right: 4%;
}
@media (max-width: 992px){
    .profileForMobile{
        width: 83.33%;
        margin-left: 8.33%;
    }   
}