
.buttonProfile{
    background-color: white !important;
    border-radius: 5px !important;
    border: 1px solid #696969 !important;
    color: red !important;
    margin-left: 5px !important;
}
.ant-form-item-control{
    line-height: normal !important;
}
.buttonProfile:hover{
    border: 1px solid red !important;
    color: #696969 !important;
    box-shadow: 1px 1px red;
}
.DIVprofile{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
.profileForMobile{
    width: 41.66%;
    margin-left: 4%;
    margin-right: 4%;
}
.doiMK{
    height: fit-content;
    margin-top: 3px;
}
.doiMK:hover{
    color: rgb(240, 27, 27) !important;
}

@media (max-width: 992px){
    .profileForMobile{
        width: 83.33%;
        margin-left: 8.33%;
    }   
    .label_information{
        font-size: 13px;
    }
    .input_information{
        font-size: 13px;
    }
}