.buttonProfile{
    width: 70px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid red;
    color: red;
    margin-left: 5px;
}
.buttonProfile:hover{
    background-color: rgb(206, 174, 236);
}
.DIVprofile{
    display: flex;
    justify-content: flex-end;
}
.profileForMobile{
    width: 41.66%;
    margin-left: 4%;
    margin-right: 4%;
}
.doiMK{
    height: fit-content;
    margin-top: 3px;
    border-bottom: 1px solid gray;
}
.doiMK:hover{
    color: rgb(240, 27, 27) !important;
}
.changePass{
    width: 100%;
    border: 1px solid black;
    margin-bottom: 10px;
    border-radius: 3px;
    height: 40px;
    padding-left: 15px;
}
.changePass:hover{
    border: 1px solid rgb(82, 163, 255);
}
.footerButton{
    height: 30px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
}
.footerButton:hover{
    border: 1px solid rgb(82, 163, 255);
    color: rgb(82, 163, 255);
}
@media (max-width: 992px){
    .profileForMobile{
        width: 83.33%;
        margin-left: 8.33%;
    }   
    .label_information{
        font-size: 13px;
    }
    .input_information{
        font-size: 13px;
    }
}