.Body{
    width: 100%;
    height:700px;
    background-image: url("../img/backgroundlogo.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
    .borderContent{
        margin: 0 auto;
        background-color: rgb(7, 6, 6,0.5);
        width: 270px;
        height: 300px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        border-radius: 10px;
    }
        .logomauI{
            margin: 0 auto;
            height: 70px;
            width: 70px;
            background-image: url(https://scontent.fhan3-1.fna.fbcdn.net/v/t1.0-9/p960x960/79601448_275777517…nc_ht=scontent.fhan3-1.fna&oh=0fc38a8…&oe=5EBB1865);
            
            background-position: center;
            background-size: cover;
            
        }
        .password{
            border: 1px solid #e9e9e9;
            width: 100%;
            border-radius: 5px;
            line-height: 30px;
            height: 30px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .password:hover{
            background-color: rgb(180, 217, 252);
            border: 1px solid rgb(180, 217, 252);
        }
        .button-submit{
            border-radius: 5px;
            height: 30px;
            width: 100%;
            border: none;
            background-color: red;
            color: white;
            font-weight: 500;
        }
        .button-submit:hover{
            background-color: rgb(255, 68, 68);
        }