/* .searchItem{
    padding: 15px;
    line-height: 35px;
} */

.optionSearch{
    text-align: center;
}
.SISTT{
    width : 39px
}
.SIID{
    width: 140px;
}
.SIname{
    width: 200px;
}
.SIdate{
    width: 140px;
}
.SIsex{
    width: 100px;
}
.SIposition{
    width: 120px;
}
.SIC{
    width: 230px;
}
.SI{
    text-align: center;
}
.SIchild{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100 !important;
}

.{
    
}