.addFM{
    width: 11% !important;
}
.menuFM{
    margin-bottom: 10px;
}
.menuSearch{
    width: 100%;
    margin-top: 15px;
}
.tenFM{
    width: 100%;
}
.menuSearchFM{
    width: 100%;
}

.buttonSearch{
    background-color: white;
    border: none;

}
.buttonSearch:hover{
    color: rgb(24, 144, 255);
}
.optionSelect{
    width: 11% !important;
    height: 30px !important;
    margin-left: 5px !important;
}

.searchOC{
    background-color: white;
    border: none;
    height: 30px;
    border: 1px solid rgb(24, 144, 255);
    color: rgb(24, 144, 255);
    border-radius: 5px;
    position: relative;
}
#mySearch{
    display: none;
    position: relative;
}
.formSearch{
    width: 100%;
    
    margin-left: 15px;
    margin-right: 15px;
}
@media (max-width: 992px){
    .menuFM{
        margin-bottom: 10px;
    }
    .addFM{
        width: 50%;
        margin-left: 0;
    }
    .menuSearchFM{
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }
    .tenFM{
        width: 50%;
        margin-left: 5%;
    }
    /* .nhommauFM{
        width: 39%;
        display: inline-block;
    } */
}