.borderRadius{
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
}
.img{
    background-image: url("https://scontent.fhan5-5.fna.fbcdn.net/v/t1.0-9/30265195_1637077286359462_7138211843243245568_n.jpg?_nc_cat=101&_nc_ohc=tkyx2CsDQl8AX-7IAGp&_nc_ht=scontent.fhan5-5.fna&oh=74e0e0f6ef67e63ec09a6f65e68444ca&oe=5ED207F4");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.image{
    margin: 15px 0px 15px 15px;
    padding-right: 40px;  
}
.describe{
    font-size: 15px !important;
    color: red !important;
    display: flex;
    justify-content: flex-end;
}
.information{
    padding-left: 0px;
}
.label_information1{
    font-size: 18px;
    color: red;
    display: inline-block;
}