.borderRadius{
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
}
.img{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.image{
    margin: 15px 0px 15px 15px;
    padding-right: 40px;  
}
.describe{
    font-size: 15px !important;
    color: red !important;
    display: flex;
    justify-content: flex-end;
}
.information{
    padding-left: 0px;
}
.label_information1{
    font-size: 18px;
    color: red;
    display: inline-block;
}