.page-header{
    width: 100%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
    .page-header i{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .information-img{
        width: 300px;
        height: 350px;
    }
        .label-header{
            margin-left: 15px;
        }
        .change-background-header{
            background-color: white;
            opacity: .6;
            margin-left: 15px;

        }
            .change-color-header{
                margin: 0;
                color: black;
            }
            .changeBackground{
                width: 100%;
                border: 1px solid #e9ecef;
                margin-bottom: 10px;
                border-radius: 3px;
                height: 40px;
                padding-left: 15px;
            }
            .changeBackground:hover{
                border: 1px solid rgb(82, 163, 255);
            }
            .Ccolor{
                margin-left: 5px;
                border: 1px solid #e9ecef;
                margin-bottom: 10px;
                border-radius: 3px;
            }
            .Ccolor:hover{
                border: 1px solid rgb(82, 163, 255);
            }

    .triangle-img{
        opacity: .9;
        width: 0;
        height: 0;
        border-bottom: 175px solid transparent;
        border-top: 175px solid transparent;
        position: absolute;
        z-index: 1;
    }
    .information-img::after{
        position: absolute;
        width: 0;
        height: 0;        
    }
    .background-cover-header{
        position: relative;
        background-image: url('https://scontent.fhan5-6.fna.fbcdn.net/v/t1.0-9/85240841_2892567020796099_125429988689182720_o.jpg?_nc_cat=105&_nc_sid=a61e81&_nc_ohc=GRySwZG7C00AX9NzVL-&_nc_ht=scontent.fhan5-6.fna&oh=6a7e94b9ce6eeba47e342257fb68a35f&oe=5EF562A8');
        height:350px;
        width: 900px;
        background-position: center;
        background-size: cover;
    
    }
.para-header-s{
    width: 1200px;
     margin: 0 auto; 
}
.information-img-reposive{
    width: 300px;
    height: 350px;
}
.information-img-reposive::after{
    position: absolute;
    width: 0;
    height: 0;        
}
/* .menu-cont{
    width: calc(100% - 900px);
    height: 350px;
    overflow-y: scroll;
}
    .chil-cont{
        margin:5px;
    }
#scroll-menu::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
} 
#scroll-menu::-webkit-scrollbar-thumb {
    background-color: red;
}
#scroll-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
} */
@media(max-width:1200px){
    .para-header-s{
        width: 900px;
    }
    .information-img{
        display: none;
    }
    .triangle-img{
        display: none;
    }
    .reponsive-header{
        width: 100%;
    }
    .information-img-reposive{
        width: 100%;
        height: 150px;
    }
}
@media all and (max-width: 992px){ 
    /* .page-header{
        width: 700px;
    } */
    .para-header-s{
        width: 100%;
    } 
    .background-cover-header{
        width: 100%;
        height:350px;
    }
}
/* iphone 5/SE */
@media all and (max-width:320px){
    .background-cover-header{
        width: 100%;
        height:114px;
    }
}
/* iphone X */
@media (min-width:321px) and (max-width:375px){
    .background-cover-header{
        width: 100%;
        height:132px;
    }
}
/* iphone 6/7/8 */
@media (min-width:376px) and (max-width: 480px){
    .background-cover-header{
        width: 100%;
        height:145px;
    }
}