.para-profile-member{
    width: 1100px;
    margin: 0 auto;
}
.buttonProfile{
    background-color: white !important;
    border-radius: 5px !important;
    border: 1px solid #696969 !important;
    color: #ff4d4d !important;
    margin-left: 5px !important;
}
.ant-form-item-control{
    line-height: normal !important;
}
.buttonProfile:hover{
    border: 1px solid red !important;
    color: #696969 !important;
    box-shadow: 1px 1px red;
}
.DIVprofile{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
.profileForMobile-1{
    width: 48%;
    margin-right: 4%;
}
.profileForMobile-2{
    width: 48%;
    margin-top: 2px;
}
.doiMK{
    height: fit-content;
    margin-top: 3px;
}
.doiMK:hover{
    color: rgb(240, 27, 27) !important;
}
@media (min-width:993px) and (max-width:1200px){
    .para-profile-member{
        width: 96%;
    }
}
@media (max-width: 992px){
    .para-profile-member{
        width: 100%;
    }
    .profileForMobile-1{
        width: 90%;
        margin-left: 5%;
    }   
    .profileForMobile-2{
        width: 90%;
        margin-left: 5%;
    }
    .label_information{
        font-size: 13px;
    }
    .input_information{
        font-size: 13px;
    }
}