.div1{
    position: relative;
    width: 65%;
    .searchOC{
        width: 135px;
        background-color: white;
        height: 32px;
        border: 1px solid rgb(24, 144, 255);
        color: rgb(24, 144, 255);
        border-radius: 5px;
        margin-left: 15px;
        margin-right: 5px;
        position:absolute;
    }
    .formSearch{
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
        position:absolute;
        z-index: 2;
        background-color: white;
        border: 1px solid rgb(24, 144, 255);
        padding: 10px;
        border-radius: 5px;
        .divA{
            display: flex;
            justify-content: flex-end;
            .tagA{
                width: 15px;
            }
            .tagA:hover{
                color: rgb(24, 144, 255);
            }
        }
        .menuSearch{
            width: 95%;
            margin-right: 0;
            margin-left: 0;
        }
    }
}
    // .div1 
    // .div1 
    //     .div1 .formSearch 
    //         .div1 .formSearch .divA 
    //         .div1 .formSearch .divA 
    //     .div1 .formSearch 